body {
  font-family: "Helvetica", Sans-Serif;
  background-image: url("./img/background-image.jpeg");
}

h1 {
    color: blue;
    font-size: 100px;
    font-family: Courier;
    text-align: center;
  }
  p {
    color: green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  h2 {
    color: rgb(12, 0, 0);
    font-size: 40px;
  }
  
  h3 {
    color: purple;
    font-size: 50px;
  }
  
  h4 {
    color: green;
    font-size: 60px;
  }


/*  Section a  */

.section-heading {
  text-align:center;
  color:#102C4E;
  margin-top: 150px;
  margin-bottom:70px;
  font-size: 35px;
}

/* Sizing for Project Containers  */

.column-4 {
  float: left;
  width: 21%;
  padding: 10px;
  margin:20px;
  height: 250px;
}

/* Color and Images for Project Containers  */

.project-1 {
  background: url('../img/project-right.jpeg');
  background-size: cover;
}

.project-2 {
  background-color:white;
}

.project-3 {
  background-color:#209BFF;
}

.project-4 {
  background-color:#ffffff;
}

.project-5 {
  background-color:#F9F7F7;
}

.project-6 {
  background-color:#209BFF;
}

.project-7 {
    background-color:#ffffff00;
}

.project-8 {
  background: url('../img/project-left.jpeg');
  background-size: cover;
}

.project-text {
  text-align:center;
  font-size:50px;
}

/* Hover classes for individual project boxes */

.project-2:hover {
  background-color:#FEDE00;
}

.project-3:hover {
   background-color: #FEDE00;
}

.project-4:hover {
   background-color: #FEDE00;
}

.project-5:hover {
   background-color: #FEDE00;
}

.project-6:hover {
   background-color: #FEDE00;
}

.project-7:hover {
   background-color: #FEDE00;
}